<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>  
    <title>Customer Cart</title>
</head>
<body>
    <div class="nav">
        <div>
                <h1>Customer Cart</h1>
        </div>
        <div>
            <a href='/products' class="indexhead1"><i class="bi bi-house-fill"></i>Home</a>
        </div>
    </div>
    <div class="cartContent" >
       
        <h2>Customer: <%=data.username%></h2>
        <h4>In Cart:</h4>
        <ol>
            <% data.cart.map((item)=>  
                {%>
                    <li>
                        <%= item %>
                    </li>
                <%}  
                ) 
            %>
        </ol>
        <h4>Total Cost ($):</h4>
        <p><%= data.price.reduce((accum, curr) =>accum + parseFloat(curr),0) %>
        </p>
    </div>
</span>
</body>
</html> 