<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mongoose Store</title>
    <link rel="stylesheet" href="/css/app.css">    
  </head>
  <body>
    <h1>Mongoose Store</h1>

<a href="/products/new">Add a new product</a>
                    <ul>
                        <% for (const item of data) 
                            {%>
                                <li>
                                    <a href="/products/<%= item.id%>"><%= item.name %></a>
                                    <img src='<%= item.img %>' alt="" width="100px" height="100px">
                                    Price: $<%= item.price %>
                                  </li>
                            <%} 
                        %>
                   </ul>
  </body>
</html>





