body {
    background-image: url('https://media.tacdn.com/media/attractions-splice-spp-674x446/07/38/d7/89.jpg');
    background-size:100vw;    
}

h1, p, h3 {
    color:goldenrod
}



.fhighlights7 {
    flex-flow: row wrap;
    display: flex;
    align-items: stretch; 
    align-content: space-between;
    justify-content: center
  }

.fhighlights1 {
    width:200px;
    height:250px; 
    margin:5px; 
    cursor:pointer;
    border-radius:10px
  }


  .fhighlights2 {
    background-color: white;
    height:20%; 
    color:black;
    font-size: 12px;
  }
  
  .fhighlights3 {
    height:80%; 
  }
  
  .fhighlights4 {

    border-radius:10px; 
    height:100%
  }

  .borderOrange {
    border: 2px solid orange
  }
  
  .PD {
      text-align: center;
  }

  .fnews3 {
    display: inline-block;
    width: 100px
  }

  .nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 65px;
    border : 30px solid transparent; /*g*/
    box-sizing: border-box;/*g*/
    box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);/*g*/
    line-height: 27px;/*g*/
    font-family: Roboto, RobotoDraft, Arial, sans-serif;/*g*/
    background-color:#242424;
    color: goldenrod
  }

  .nav a {
    text-decoration: none;
    color:goldenrod;
    font-weight: bold;
    font-size: 30x;
  }
  .nav > * {
    padding-right: 30px;
    
  }

  a {
    text-decoration: none;
    color: goldenrod
  }
  
  .indexhead1{
    position:absolute; right:0;
    font-size: 16px;
  }
 
label {
  color: goldenrod
}

.btn {
  color: goldenrod
}

.out {
  background-color: red;
}

.in {
  background-color: green;
}